<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registro Administradores</h1>
    <form method="post" action="/registro-super">
        <label for="correoAdmin">Correo:</label>
        <input type="email" name="correoAdmin">

        <label for="passwordAdmin">Contraseña</label>
        <input type="password" name="passwordAdmin">
        <input type="submit" value="Enviar" id=boton>
    </form>
</body>
</html>
