<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola {{ name }}, eres un SUPER usuario</h1>
    {% for value in datos %}
    <div id="usuario{{loop.index}}">{{value[0]}} {{value[1]}} {{value[2]}} {{value[3]}} {{value[4]}}</div>
    <form method="POST" action="/borrar">
        <input type="text" name="btn-borrar" value="{{loop.index}}" style="display: none;">
        <input id="eliminar{{loop.index}}" value="Eliminar" type="submit">
    </form>
<!--
    <form method="POST" action="/editar">
        <input type="text" name="btn-editar" value="{{loop.index}}" style="display: none;">
        <input id="editar{{loop.index}}" value="Editar" type="submit">
-->
    {% endfor %}
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></scipt>
    <script src="./main.js"></script>
</body>
</html>
